<div class="author">
    <figure>
        <img class="imgsquare" src="/panteao.png" alt="Miguel Valente" width="300" height="100px" />
    </figure>
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
    <p class="author-bio"> hey that's me sitting there</p>
    
    <!-- <script src="/lottie_player_v157_bundle.js"></script>
    
    <centerhttps://github.com/miguelvalente/miguelvalentexyz>
	 <lottie-player
	 class="lottie-landing"
    style="width: 600px; height: 300px;align-self: center;"
	 This Lottiefile is licensed by CC so he must be attributed
	 title="Jignesh Gajjar @LottieFiles"
	 src="https://assets2.lottiefiles.com/packages/lf20_k0orqied.json"
      background="transparent"
	 speed="0.1"
	 loop={ true }
	 autoplay={ true } >
	 </lottie-player>

    </center> -->

    
</div>