<style>
#nextprev {
    font-size: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4% 4% 0px 4%;
    font-family: 'Roboto', sans-serif;
}
#prevart {
    text-align: right;
}
#nextart {
    text-align: left;
}

#nextart, #prevart {
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
}

#nextart:hover, #prevart:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

#nextart a, #prevart a {
    color: inherit;
    display: block;
}

@media (max-width: 480px) {
    #nextart, #prevart {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}
</style>

{{ if or .NextInSection .PrevInSection -}}
    <div id="nextprev">
        {{- with .NextInSection -}}
        <a href="{{ .RelPermalink }}" style="text-decoration: none;"><div id="nextart" style="font-weight: bold;">Next:<br>{{.Title}}</div></a>
        {{ end -}}
        {{- with .PrevInSection }}
        <a href="{{ .RelPermalink }}" style="text-decoration: none;"><div id="prevart" style="font-weight: bold;">Previous:<br>{{.Title}}</div></a>
        {{ end -}}
    </div>
{{ end -}}
