
{{ if or .NextInSection .PrevInSection -}}
    <div class="wrapper post">
        <div id="nextprev">
            {{- with .NextInSection -}}
            <div><a href="{{ .RelPermalink }}" style="text-decoration: none;"><div id="nextart" style="font-weight: bold;">Next<br>{{.Title}}</div></a></div>
            {{ end -}}
            {{- with .PrevInSection }}
            <div><a href="{{ .RelPermalink }}" style="text-decoration: none;"><div id="prevart" style="font-weight: bold;">Previous<br>{{.Title}}</div></a></div>
            {{ end -}}
        </div>
    </div>
{{ end -}}
