<article class="post-item">
    <h4 class="post-item-title">
    <a style="text-decoration: underline; text-underline-offset: 6px;" href="{{ .Permalink }}">{{ .Title }}</a>

    </h4>
    {{/*  format date string to create an ISO 8601 string  */}}
    {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
    <time class="post-item-meta" datetime="{{ .Date.Format $ISO_date }}">
        {{ .Date.Format "02-01-2006" }}
    </time>

<!-- {{ $lastmod := .Lastmod.UTC.Format "Jan 2, 2006" }}
{{$lastmod}} -->
<!-- {{ $date := .Date.UTC.Format "Jan 2, 2006" }}
{{ $lastmod := .Lastmod.UTC.Format "Jan 2, 2006" }}
Published {{ $date }}
{{ if and (ne $lastmod $date) (gt .Lastmod .Date) }}
    <br/>Updated {{ $lastmod }}
{{ end }} -->

</article>
