//////////////// 1. Light Colors /////////////////
$text-base-color: #1f1b18;

$text-link-blue: #ad8200;
$text-link-blue-active: #ad8200;
$bloquote-border: #b2b3b5;
$blockquote-text: #353332;
$inline-code-text: #333638;
$inline-code-bg: #e2d8d8;

$heading-light: #231d19;
$hline-light: #ececec;
$smoke: #c7d2c8;
$date-light: #866b6f;
$background-light: #eae4e1;
// $background-light: #F6F6EF;


//////////////// 2. Dark Colors /////////////////
// $dark-text-base-color: #babdc4;
// $dark-text-link-blue: #77a8fd;
// $dark-text-link-blue-active: #5292ff;
// $dark-bloquote-border: #4a4d56;
// $dark-blockquote-text: #9b9ba3;
// $dark-inline-code-text: #c2c4ca;
// $dark-inline-code-bg: #2d2d2d;

// $dark-black: #131418;
// $dark-white: #eaeaea;
// $dark-light: #1b1d25;
// $dark-smoke: #4a4d56;
// $dark-gray: #767f87;

$dark-text-base-color: #fdfdff;
$dark-text-link-blue: #77a8fd;
$dark-text-link-blue-active: #5292ff;
 $dark-bloquote-border: #4a4d56;
$dark-blockquote-text: #9b9ba3;
$dark-inline-code-text: #c2c4ca;
$dark-inline-code-bg: #2d2d2d;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

//////////////// 3. Fonts preferences /////////////////
$sans-family: Roboto;
$mono-family: Consolas, monospace;
$base-font-size: 19px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $hline-light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $heading-light-weight: 900; // uncomment if necessary

//////////////// 4.Responsive design (media queries) /////////////////
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// Screen sizes
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

//////////////// 5. Import all sass files /////////////////

@import "fonts";
@import "base";
@import "navbar";
@import "layout";
@import "post";
@import "code";
@import "miscellaneous";
@import "dark";
@import "listpage";